node_modules
.next
.git
.gitignore
npm-debug.log
README.md
.env
.env.local
.env.development
.env.production
.dockerignore
Dockerfile
docker-compose.yml
docker-compose.dokploy.yml
public/uploads/*
!public/uploads/.gitkeep
.vscode
.idea
*.md
